---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 for Renewable Energy</h1>



<p>Growing and managing renewable energy growth is on the forefront of nearly all Adapt2 customers. The ability to scale and manage renewable assets the intermittency of these assets is critical to any customer that is growing their green energy footprint.</p>

<p>Adapt2 currently supports leading renewable energy generators, asset managers and retailers in all North American ISO markets.</p>



<img src="{}" alt="{}">

<p>Clearway Energy Group is accelerating the world’s transformation to a clean energy future. Built for 21st century energy markets, Clearway is focused on providing customers with the power they need and the customer experience they deserve. With assets across 28 states, more than 500 employees and the capacity to power about 2.7 million homes, Clearway is bringing reliable and clean power to market. The Company is headquartered in San Francisco, CA with offices in Carlsbad, CA; Scottsdale, AZ; Houston, TX; and New York City, NY.</p>



<h2>Why Adapt2</h2>

<p>In 2018, Clearway selected Adapt2 B2B and Adapt2 Green after an extensive evaluation of solution providers in the market operations space. The evaluation for Clearway was centered on the ability to provide market operations in all North American ISOs along with the flexibility and scalability to manage complex power purchase agreement, renewable energy credits, and perform trade management. Clearway also required the implementation of 6-8 months to completely replace their existing market operations platform that had been internally developed and used for the past decade.</p>

<p>Within 6 months, Adapt2 and Clearway have implemented Adapt2 B2B and then proceeded  with the Adapt2 Green implementation.</p>

<p>With both Adapt2 B2B and Adapt2 Green, our platform will support the ongoing business needs for Clearway by leveraging Adapt2’s latest technology delivering the most current market operations system available. The partnership will evolve with the changing market rules for renewables and storage technologies. Adapt2 Green will manage the complexities of operating renewables and storage assets in all markets for Clearway.</p>

