---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 for Retailers</h1>



<p>Retail energy providers require extensive market connectivity and massive data management and analytics. Adapt2’s platform for retail market participant enabled by leading-edge technologies play an important role for Retailers during unforeseen events.</p>

<p>Adapt2 currently supports leading retail power entities in all North American energy markets.</p>



<h2>Why Adapt2 - Problem & Solution</h2>

<p>When Just Energy initially partnered with Adapt2 Solutions, they were looking for assistance with invoice reconciliation and allocation across multiple calendar months. The primary goal was to align costs associated with monthly loads and revenues associated with electricity used by retail customers. At the time, this was managed through spreadsheets. In only five months, Adapt2 was able to provide back office and settlements functionality for PJM, ERCOT, NYISO, and ISO-NE. The settlement reports have provided new insight into data trends and enabled Just Energy to improve their cost estimates. According to the Director of Settlements and Mid-Office, Just Energy immediately realized the value of the Adapt2 application suite and understood that their business goals could not be supported in a timely manner through the previous manual processes. Overall, Adapt2 has consistently met the expectations of Just Energy.</p>

<img src="{}" alt="{}">

<p>In 2013, Just Energy selected Adapt2 B2B for their Settlements and Back Office operations. Driven by the success of that project, Just Energy implemented Adapt2 ISO for their Front Office operations in ERCOT the following year. This was the beginning of an ongoing partnership. Adapt2 has since delivered functionality to support transactions in the United Kingdom as well as enhanced settlements capabilities in ERCOT through ERCOT 727 Reporting.</p>

<p>Established in 1997, Just Energy is an energy management solutions provider specializing in electricity, natural gas, solar, and green energy. With offices located across the United States, Canada, and the United Kingdom, Just Energy serves approximately two million residential and commercial customers. Adapt2 processes several TBs of data annually from the 10 ISOs Just Energy participates in. The company offers a wide range of energy products and home energy management services, including long-term fixed-price, variable price, and flat bill programs, smart thermostats, and residential solar solutions. Just Energy Group Inc. is the parent company of Amigo Energy, Green Star Energy, Hudson Energy, JE Solar, Tara Energy and TerraPass.</p>
