---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 for Traders</h1>

<p>Trading and marketing firms not only require reliable and stable market connectivity but also need speed. The Adapt2 platform enables lightning fast integration to markets for all financial trades and risk systems to automate workflows for traders.</p>



<h2>Why Adapt2 - Problem &amp; Solution</h2>

<p>Emera Energy needed to replace homegrown tools with a customizable platform that had a consistent look and feel across markets and products. Emera desired a system that could rapidly execute transactions across multiple ISO markets and provide a centralized database for reporting on all market operations. Adapt2 B2B was the solution they were searching for. In six months, Adapt2 and Emera Energy replaced all proprietary tools and implemented front office trading functionality and back office settlements for all three ISOs.</p>

<img src="{}" alt="{}">

<p>In 2014, Emera Energy selected Adapt2 B2B for front and back office operations in IESO, ISO-NE, and NYISO. In 2016, Emera expanded front office capabilities to include Adapt2’s bid formulation solution, Bid Accelerator. Currently, Emera’s front office uses Adapt2 B2B to submit all bids, offers and schedules. The Adapt2 B2B back office modules are used by Asset Management and Analytics team for settlements and reporting functionality. As Emera incorporates new business, Adapt2’s template model provides rapid expansion by quickly modifying existing templates to support these changes. A fast platform for scheduling functions leads to efficient ISO operations, resulting in more time for analysts to focus on decisions and results.</p>

<p>Emera Energy is a wholly owned subsidiary of Emera Inc. (TSX: EMA), headquartered in Nova Scotia, Canada. Emera Energy provides customized third-party marketing, trading and asset management services to customers operating in northeastern North America. Emera Energy currently has over 100 employees in Canada and the USA who are led by an experienced team of industry executives.</p>
