---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 for Utilities</h1>

<p>In general, Utilities have the highest need for reliability and security with any solution provider. The Adapt2 platform enables availability and reliability with advanced technologies to minimize any downtime and provide a high degree of security for all of our customers.</p>



<img src="{}" alt="{}">

<p>Liberty Utilities provides regulated electricity, water, and natural gas utility services to over 1 million customer connections, primarily in North America and has a growing portfolio of clean, renewable wind, solar, hydro and thermal power generation facilities representing over 4 GW of renewable generation capacity in operation and under construction. Adapt2 is utilized by their regulated services group formerly known as Empire District Electric.</p>



<h2>Why Adapt2</h2>

<p>In 2017 Empire District Electric, a Liberty Utilities Company, found themselves in a scenario that many energy market participants find themselves in. They made a large investment into a bid-to-bill system but as technology evolved at rapid speeds, after 15 years the legacy system became outdated. Empire District realized that system was no longer the most efficient in the marketplace, costly to maintain and required a number of manual hours to operate. They found themselves working around the system, instead of within the system. Empire District needed a solution that they knew would evolve with the energy markets. Empire District sought out to partner with a solution provider that they could truly collaborate with, innovate with and that they could trust to provide them with forward thinking technology and proactive market change management.</p>

<p>Adapt2 has helped Empire District Electric accelerate their full bid-to-bill operations. Adapt2’s flagship B2B solution supports Empire District for demand bids, generation submission, meter data management, settlements and deal management in SPP. Adapt2’s intuitive and easy to use interface has helped Empire District quickly train new staff members as their front and back-office trading and settlement teams scale and grow. By utilizing Adapt2’s hosting and managed-services, Empire District has been able to repurpose IT employees to focus on development as opposed to supporting their ISO operations system. Being able to focus on innovation and development, as opposed to system support, allowed Empire District to co-develop an AI-enabled load forecasting tool.</p>

