---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Join Us</h1>

<h2>Something BIG is happening here!</h2>

<p>It takes an entire team to build something big and at Adapt2 we're working hard, laughing a lot, and brainstorming new ways to innovate the energy market.  Plus, we give the best high fives in town.</p>

<p>Join us in Houston to be a part of reshaping the energy market with new technology that powers over 2,000 market participants and counting. At Adapt2, you will work with talented engineers with a depth of experience to shape the future of energy.</p>

<video controls>
	<source type="video/mp4" src="https://res.cloudinary.com/dogbhqpij/video/upload/v1691005013/adapt2solutions/pages/about/rathi-hr-video-in-office_yin66a.mp4" />
</video>



<!-- <CareerCarousel>

Pexels Jopwell 2422293
Innovation is built into our organization
Adapt2 Labs was formed in 2020 as an incubator for new ideas at Adapt2 and the industry as a whole. We look at opportunities, dig deeply into probl`ems and create solutions in Adapt2 Labs.

Shutterstock 1745852696 Scaled 1
We like each other. We really like each other!
Whether it's fantasy football leagues, monthly fitness challenges, holiday celebrations, or just working together remotely or in our Greenway Plaza offices, we enjoy each other's company and learn from each other every day.

Pexels Fauxels 3184339
We embrace diverse backgrounds and skills
Just out of school? Years of experience? Been in a different industry and looking for a change? We love working with people from all backgrounds who bring rich skillsets, experience, and ideas to what we do.

Pexels Team 3931556 1024x683
We believe great work is not done alone
Collaboration is key at Adapt2. We work together with our colleagues and our clients every day to come up with the best software solutions.

</CareerCarousel> -->



<h3>Python Web Developer</h3>

<ul>
	<li>Proficient in Python, with knowledge of at least one Python web framework</li>
	<li>Experience implementing AI and ML using Python is a plus</li>
	<li>Able to integrate multiple data sources and databases into one system</li>
	<li>Basic understanding of front-end technologies, such as HTML5, and CSS3</li>
	<li>Understanding of accessibility and security compliance</li>
	<li>Knowledge of user authentication and authorization between multiple systems, servers, and environments</li>
	<li>Strong unit test and debugging skills</li>
	<li>Proficient understanding of code versioning tools such as git and Azure DevOps</li>
	<li>Successful experience in collaborative, fast-changing environment</li>
</ul>



<h3>C# Developer</h3>

<ul>
	<li>C# development using Visual Studio</li>
	<li>Deployment using docker containers</li>
	<li>Multi-platform support using dotnetcore</li>
	<li>Previous experience of containerization a plus or on-the-job training will be provided</li>
	<li>1-3 years of experience with C#</li>
	<li>Familiar with a variety of environments</li>
	<li>Bachelor's degree highly preferred</li>
	<li>Successful experience in collaborative, fast-changing environment, where you have actively participated in software coding, testing, and debugging</li>
</ul>



<h3>C# UI/Front End Developer</h3>

<ul>
	<li>C#/.NET Core</li>
	<li>Dev Express WPF, JSON/REST, Blazor</li>
	<li>Experience in code migration, database change management and data management through various stages of the development life cycle</li>
	<li>Bachelor's degree highly preferred</li>
	<li>3+ years of experience with C#, Transact SQL, WPF</li>
	<li>Familiar with varying environments</li>
	<li>Successful experience in collaborative, fast-changing environment, where you have actively participated in data design, software coding, testing, debugging, documentation, and installation to a production environment</li>
</ul>



<h3>Business Analyst – Product</h3>

<ul>
	<li>Superlative communication skills: written, verbal, and translation of technically complex information</li>
	<li>Beginner to Intermediate level of expertise in Microsoft SQL Server</li>
	<li>Working understanding of Big Data processing including Data Lakes Storage and a variety of platforms.</li>
	<li>Familiar with Microsoft C#.NET, DevExpress, Visual Studio, Azure DevOps</li>
	<li>Expert in Microsoft Excel</li>
	<li>Ability to thrive in a dynamic environment</li>
	<li>Education and/or experience in software, power, or another technical field</li>
</ul>



<h3>Software Support Analyst</h3>

<ul>
	<li>Ability to develop and maintain collaborative relationships with Adapt2 customers</li>
	<li>Experience working with customers on an enterprise software solution or other large-scale, technical service level</li>
	<li>Ability to understand technical and business tasks in the power industry to assist Adapt2 customers; research and report on trending customer issues</li>
	<li>Able to install, implement and configure Adapt2 software; general knowledge of SQL (Transact SQL and PL/SQL); back- ground in, or willingness to learn other technology platforms</li>
	<li>Understand written procedures, create standardized documents, and communicate clearly in writing and verbally</li>
	<li>Experience as a self-starter with a strong work ethic; know how to learn and follow processes as well as having a curiosity about how to make things better</li>
	<li>Some after-hours/weekend on-call rotations may be required</li>
	<li>Preference given to those with Computer Science, MIS, and other technology-related degrees.</li>
</ul>



<h3>Business Analyst-Professional Services</h3>

<ul>
	<li>Superlative communication skills written, verbal, and translation of technically complex information</li>
	<li>Beginner to Intermediate level of expertise in Microsoft SQL Server</li>
	<li>ETRM experience strongly desired</li>
	<li>Working understanding of Big Data processing including Data Lakes Storage and a variety of platforms</li>
	<li>Familiar with Microsoft C#.NET, DevExpress, Visual Studio, Azure DevOps</li>
	<li>Aptitude for Project Management</li>
	<li>Expert in Microsoft Excel</li>
	<li>Ability to thrive in a dynamic environment</li>
	<li>Education and/or experience in software, power, or another technical field</li>
	<li>Able to travel 25%-50% as needed</li>
</ul>



<p>Adapt2 Solutions in proud to be an Equal Opportunity Employer</p>
