---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>About Adapt2 Solutions</h1>

<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691005041/adapt2solutions/pages/about/mission-statement_yn3irg.jpg" alt="">

<p>Adapt2 Solutions (Adapt2) is the leading provider of AI enabled multi-market operations software. Adapt2's software is designed to help market participants streamline their front and back office operations. Based in Houston, TX Adapt2 was founded by Francisco Diaz in 2008 with the intent of being the only solution provider enabling all market connectivity through a single platform. From the beginning, “adapting to” market changes and being an "ISO First" software provider became the foundation of who Adapt2 is today.</p>

<p>Now, with over a decade of experience, Adapt2 continues to focus on keeping customers current with market systems and market intelligence. Throughout the years Adapt2 has undergone many transformations in order to keep up with the ever changing energy industry. In 2016 the company evolved its core platform with the latest technologies. By introducing a big data lake and artificial intelligence, Adapt2 supports clients with the latest technology, enabling a high degree of analytical and automation capabilities.</p>

<p>The following year, Adapt2 released <a href="/solutions/adapt2-t2t">Adapt2 Trade-to-Tag</a>. This solution manages the power scheduling process and connects power trades to tagging. Its core components include Trade Capture, Tagging and Power Scheduling. The creation of Adapt2 Trade-to-Tag further automated trading within ISOs and across bilateral markets all while supporting risk management.</p>

<p>Adapt2 released <a href="/solutions/adapt2-green">Adapt2 Green</a> in 2019 to enable efficient management for the rapid growth and operations of renewable energy in customer portfolios. As interest in renewable energy has risen, the solution Adapt2 Green has become increasingly popular among many of our current and prospective clients. This solution includes REC Management, PPA Settlement and Dispatch Optimization, making going green easier than ever.</p>

<p>With over 200 market implementations, Adapt2 has streamlined the delivery of market systems for generators, asset managers, traders, retailers, utilities, IPPs, or any entity that has a market connection need or is moving power across ISOs. Adapt2 supports 50 customers and over 2000 market participants across every North American ISO/RTO.</p>

<p>The company was recently recognized by <a href="https://www.adapt2solutions.com/news/company-announcements/adapt2-solutions-recognized-for-innovation-in-artificial-intelligence-with-2020-ai-breakthrough-award/">AI Breakthrough for Best AI Solution for Big Data</a>, Inc. Magazine as one of the fastest-growing companies in Texas, and Entrepreneur Magazine as a Top 100 company based on measurements of financial stability, innovation, management efficiency, and growth. In 2021 Adapt2 has been named by Financial Times as one of the <a href="https://www.adapt2solutions.com/news/company-announcements/adapt2-solutions-awarded-as-one-of-americas-fastest-growing-companies-in-2021-by-the-financial-times/">Fastest Growing Companies in America</a>. For its advancement in AI driven technologies, Adapt2 has also been named winner of the <a href="https://www.adapt2solutions.com/news/company-announcements/adapt2-solutions-named-winner-in-2021-artificial-intelligence-excellence-awards/">Hybrid Intelligent System Award</a> in the 2021 Business Intelligence Group's Artificial Intelligence Excellence Awards program.</p>

<p>Adapt2 has continued to be recognized for its growth and accomplishments because of its drive to provide the best solutions possible for energy market participants. Creating an innovative and user-friendly platform that is backed by the latest technologies is what makes Adapt2 the leading solutions provider in the industry.</p>

<a href="/about/leadership"><buttom type="button">Get to Know the Adapt2 Team</buttom></a>
