---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Leaders in Energy Market Operations</h1>

<p>The energy industry is continually changing. To keep up with the dynamics and complexities of the energy industry takes a unique combination of experience, innovation, and pursuit in being proactive. In order to provide our customers with the best solutions possible, Adapt2 has built a leadership team that is composed of highly educated and experienced individuals. To meet our client’s needs, we make sure our leaders are seasoned in the latest technology and aficionados of the energy market.</p>

<p>The Adapt2 team has worked closely with our clients to implement streamlined, intelligent and automated energy market solutions in all North-American ISOs. In order to provide the best results for each client, the team uses their unique skill sets to produce custom solutions. Our team is what truly sets Adapt2 Solutions apart from the competition.</p>

<p>As technology advances and individual circumstances change, Adapt2’s team remains committed to providing the highest quality, easy to use, and customer centric solutions for energy market participants. To learn more about our solutions and how they can work for you, please visit our Solutions page.</p>



<h2>Your Adapt2 Leadership Team</h2>

<h3>Francisco Diaz</h3>
President And Founder
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/francisco-diaz_mkit2s.jpg" />

<h3>Jason Kram</h3>
Executive Vice President
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/jason-kram_jrpg9v.jpg" />

<h3>David Nilsson</h3>
Senior Vice President
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/david-nilsson_zvtjzh.jpg" />

<h3>Kevin Dunlap</h3>
Vice President Of Product Strategy
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/kevin-dunlap_oufe4p.jpg" />

<h3>Meipo Ho</h3>
Vice President Of Operations
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/meipo-ho_bcgpcs.jpg" />

<h3>Emmanuel Gonzalez</h3>
Vice President Of Solution Services
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/emmanuel-gonzalez_fbwvjf.jpg" />

<h3>Megan Bruney</h3>
Marketing Coordinator
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/megan-bruney_box5qz.png" />

<h3>Hernando Delgado</h3>
Vice President Of Professional Services
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/hernando-delgado_x1tfig.webp" />

<h3>Matthew Fuller</h3>
Vice President Of Development And Architecture
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/matthew-fuller_w1iqtc.webp" />

<h3>Will Johnson</h3>
Director Of Solutions Support
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/will-johnson_oefkfk.jpg" />

<h3>Ivan Sirkov</h3>
Director Of Product
<img src="https://res.cloudinary.com/dogbhqpij/image/upload/v1691004309/adapt2solutions/pages/about/ivan-sirkov_lhsm0z.jpg" />
