---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>What's Possible</h1>



<h2>Adapt2 Anything</h2>

<p>Adapt2 is the premier provider of energy software solutions for market participants in the energy industry.  Enabled by the latest and current software technologies, Adapt2’s platform and our solutions span all parts of the energy organization from Front Office to Back Office and from Plants/Assets to IT departments.</p>



<h2>For Front Office</h2>

<p>Our Front Office solutions span all workflows that enable scheduling into markets and performing trades with partners.</p>

<a href="/whats-possible/for-front-office">Learn More about Adapt2 Front Office</a>



<h2>For Back Office</h2>

<p>Our Back Office energy software solutions span all workflows that enable streamlined validation of market charges and intelligent determination of discrepancies.</p>




<h2>For Technology</h2>

<p>Powered with the latest machine learning (ML), artificial intelligence (AI), and big data technologies.</p>




<h2>For Plants/Assets</h2>

<p>Adapt2 enables two-way communication to all portfolio assets that empowers the assets to participate and contribute to the overall success of our customers.</p>


<blockquote>Adapt2 ISO enables quick and easy transparency to the most granular level of ISO settlements. This allows Just Energy to efficiently and effectively use this data to calibrate models and explain results of operations.</blockquote>

–  Director of Asset Management