---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Technology</h1>



<h2>As rapid as markets change, technology changes even faster.</h2>

<p>One of the key attributes of Adapt2 is to provide our customers with the latest technologies that enable stable and continuous enhancements. Powered with the latest Machine Learning (ML), Artificial Intelligence (AI), and Big Data technologies, the Adapt2 cloud-native platform is the most current cloud environment available in the industry today.</p>



<h3>Scalable Technology</h3>

<p>Scalable technologies allow for rapid updates of both the software as well as the computer and storage resources. When the power grid sees more interruptible supply and demand, it is imperative that the technology can scale up and down the same way. Adapt2’s Kubernetes orchestrated containers allows for unparalleled flexibility.</p>



<h3>Big Data (Tahoe)</h3>

<p>Using a big data lake for both private and public data provides the foundation for AI/ML.  Our data lake allows for data collection and retention in formats that are open and adaptable as both structured and unstructured data loads grow. The data is not being held hostage but open and available to use.</p>



<h3>Machine Learning/Artificial Intelligence</h3>

<p>Different problem formulations require the appropriate toolset. Using machine and deep learning algorithms, Adapt2 is able to harvest knowledge in the big data lake to support better and more optimized decision making.</p>



<Parallax
	parallaxImage="/a2_solutions-.jpg"
	alt="Foo"
	blockquote="With Adapt2 by our side, we anticipate combining our internal business knowledge with leading-edge technology to continue growing and improving our operations."
	citation="IT Manager, Clearway Energy"
>
