---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Contact Us:</h1>



<h2>Interested in learning more or just want to connect?</h2>



<p><strong>We would love to chat!</strong></p>

<p>Submit your contact information below along with a quick message and we’ll get back to you as soon we can.</p>

<p>We respect your privacy, so the information that you provide will remain strictly confidential. Nevertheless, a copy of your message might be stored in our records as a database entry for archival purposes.</p>



<form action="#" method="POST">



	<label for="first-name" class="block">First name</label>

	<input type="text" name="first-name" id="first-name" autocomplete="given-name">



	<label for="last-name" class="block">Last name</label>

	<input type="text" name="last-name" id="last-name" autocomplete="family-name">



	<label for="email">Email</label>

	<input type="email" name="email" id="email" autocomplete="email">



	<label for="company" class="block">Company</label>

	<input type="text" name="company" id="company" autocomplete="organization">



	<label for="phone">Phone</label>

	<input type="tel" name="phone" id="phone" autocomplete="tel">



	<label for="participation">ISO/RTO Participation</label>

	<select id="participation" name="participation">

		<option>AESO</option>
		<option>IESO</option>
		<option>MEM</option>
		<option>NBSO</option>
		<option>PJM</option>
		<option>MISO</option>
		<option>NYISO</option>
		<option>ISONE</option>
		<option>ERCOT</option>
		<option>CAISO</option>
		<option>UK</option>
		<option>Other</option>

	</select>



	<label for="message" class="block text-sm font-semibold leading-6 text-gray-900">Message</label>

	<textarea name="message" id="message" rows="4"></textarea>



	<button type="submit">Let's talk</button>



</form>


<p>To reach Adapt2 Solutions directly, please call 713-468-3001</p>

<p>Email: marketing@adapt2solutions.com</p>

<p>
	Adapt2 Solutions<br>
	24 Greenway Plaza #725<br>
	Houston, Texas 77046
</p>
