---
import PageLayout from '@layouts/PageLayout.astro';
---
<h1>Privacy Policy</h1>

<p>Protecting your private information is our priority. This Statement of Privacy applies to https://www.adapt2solutions.com/ and any other website owned by Adapt2 Solutions. This statement of privacy governs data collection and usage. The Adapt2 Solutions website and associated Sites are a one-stop provider of essential software solutions for energy supply, trading and marketing organizations. By using the Adapt2 Solutions website or Sites, you consent to the data practices described in this statement.</p>

<h2>What Does this Statement of Privacy Cover?</h2>

<p>This Privacy Policy covers Adapt2 Solutions’ treatment of personally identifiable information (“Personal Information”) that Adapt2 Solutions obtains when you access the Sites or use Adapt2 Solutions services. This policy does not cover the practices of other companies or any companies that use Adapt2 Solutions Sites or services.</p>

<h2>Children Under Thirteen</h2>

<p>Adapt2 Solutions does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>

<h2>Collection and Use of your Personal Information</h2>

<p>Adapt2 Solutions Does Not Sell, Rent Or Lease Its Customer Lists To Third Parties.</p>

<p>Adapt2 Solutions encourages you to review the privacy statements of websites you choose to link to from Adapt2 Solutions so that you can understand how those websites collect, use and share your information. Adapt2 Solutions is not responsible for the privacy statements or other content on websites outside of the Adapt2 Solutions website.</p>

<p>Adapt2 Solutions will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: conform to the edicts of the law or comply with legal process served on Adapt2 Solutions or the site; protect and defend the rights or property of Adapt2 Solutions; and, act under exigent circumstances to protect the personal safety of users of Adapt2 Solutions, or the public.</p>

<h3>Browsing the website</h3>

<p>Adapt2 Solutions collects no Personal Information when just browsing our websites. When you visit one of our websites, we automatically log some basic information like how you got to the site, the general geographical area, browser type, domain names, access times, and where you navigated within it. Adapt2 Solutions may share that data with trusted partners to help perform statistical analysis. However, this information is not personally identifiable. This information is used to maintain quality of our websites, and to provide general statistics regarding use of the Adapt2 Solutions website.</p>

<h3>Signing up for our mailing list</h3>

<p>We collect the following information when you sign up for our mailing list; first and last name, company name, and email address.</p>

<p>Adapt2 Solutions may also use your personally identifiable information to inform you of other products or services available from Adapt2 Solutions and its affiliates. Adapt2 Solutions may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered. Adapt2 Solutions may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, company name) is transferred to the third party. All such third parties are prohibited from using your personal information except to provide these services to Adapt2 Solutions, and they are required to maintain the confidentiality of your information.</p>

<h3>When licensing a service</h3>

<p>If you purchase Adapt2 Solutions’ products and services, please refer to your license agreement.</p>

<h2>Opt-Out & Unsubscribe</h2>

<p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Adapt2 Solutions by contacting us here: marketing@adapt2solutions.com or by phone: 713-468-3001.</p>

<h2>Use of Cookies</h2>

<p>The Adapt2 Solutions website may use “cookies” to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you. In addition, you enable Adapt2 Solutions to obtain any other cookies used on your website in conjunction with the Adapt2 Solutions service. One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Adapt2 Solutions pages, or register with Adapt2 Solutions site or services, a cookie helps Adapt2 Solutions to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Adapt2 Solutions website, the information you previously provided can be retrieved, so you can easily use the Adapt2 Solutions features that you customized.</p>

<h2>Security of your Personal Information</h2>

<p>Adapt2 Solutions secures your personal information from unauthorized access, use or disclosure. We routinely scan our source code to check for weaknesses or vulnerabilities. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>

<h2>Changes to this Statement</h2>

<p>Adapt2 Solutions will occasionally update this Statement of Privacy to reflect company and customer feedback. Adapt2 Solutions encourages you to periodically review this Statement to be informed of how Adapt2 Solutions is protecting your information.</p>
