---
import PageLayout from "@layouts/PageLayout.astro";
---

<h1>Terms and Conditions</h1>

<h2>Adapt2 Terms And Conditions For Software License, Products And Services</h2>

<p>These Adapt2 Terms and Conditions for Software License, Products and Services are incorporated into and made a part of all Order Forms with each applicable Order Form and these Terms and Conditions collectively forming the agreement (the "Agreement") between Adapt2 Solutions, Inc., a Texas corporation ("Adapt2" or "Licensor") and the Customer entering into the applicable Order Form ("Licensee" or the "Customer"). The terms of the Agreement shall apply to each Product License granted, and to all related Products and Services provided under an Order Form or Service Agreement. When completed, executed and delivered by both Parties, an Order Form or Service Agreement shall evidence the License Products and Services that are to be provided by Adapt2.</p>

<h3>Article 1 – Definitions</h3>

<h4>1. Definitions</h4>

<p>"Customer Support Services" shall mean Product support as defined in Section 3.1 and provided under Adapt2's fees in effect on the date Licensee orders, or renews, Customer Support Services.</p>

<p>"Designated System" shall mean compatible hardware and software that may be designated on the relevant Order Form or Service Agreement.</p>

<p>"Designated User," unless otherwise specified in the Order Form or Service Agreement, shall mean an individual that is authorized by Adapt2 to use specified Products, regardless of whether the individual is actively using the Products at any given time.</p>

<p>"Limited Production Products" shall mean Products that have not been released to Licensee on a Production Date. Limited Production Products could be specified as "Alpha" or "Beta" by Adapt2. Software Change Requests requested by the Licensee are Limited Production Products until they are released to the Licensee on the Production Date.</p>

<p>"Order Form" shall mean Adapt2's form that describes the License, Products and Services covered by Agreement.</p>

<p>"Party" "Parties" means Adapt2 and Customer or Licensee.</p>

<p>"Production Date" shall mean the date on which the Product(s) is available, tested, and is ready for production.</p>

<p>"Product" or "Products" shall mean collectively, the computer software in object code form, owned or distributed by Adapt2 for which Adapt2 grants Licensee a Product License pursuant to Agreement; the media; the user guides and manuals for use of the software ("Documentation") and any Updates.</p>

<p>"Services" shall mean Customer Support or consulting services provided to Licensee, but does not include Subscription Services.</p>

<p>"Software Change Requests" shall mean changes to the Product that are requested by Licensee.</p>

<p>"Subscription Services" shall mean the Market Select Services provided through a Subscription Services Agreement ("Subscription Agreement"), subject to the terms and conditions of the Subscription Agreement.</p>

<p>"Updates" shall mean changes to the Products, or technical specifications, that enhance performance or correct identified Product deficiencies and that do not, in Licensor's sole discretion, require a separate license.</p>

<h3>Article 2 – Rights And Obligations</h3>

<h4>2.1 License</h4>

<p>2.1.1 Adapt2 grants to Licensee a non-exclusive license to use the Products that Licensee obtains under the Agreement, as follows:</p>

<p>(a) To use the Products solely for Licensee's own internal operations, and not in competition with Licensor, consistent with applicable licensed use limitations as set forth in fully executed and delivered Order Forms and Subscription Agreement;</p>

<p>(b) To use the Documentation provided with the Products in support of Licensee's authorized use of the Products; and</p>

<p>(c) To comply with the Special Terms and Conditions in any Order Form or and Subscription Agreement with respect to any third party licenses used by Adapt2.</p>

<p>2.1.2 Licensee shall not copy or use the Products (including the Documentation) except as otherwise specified in the Agreement or on an Order Form or and Subscription Agreement. Licensee shall ensure that Designated Users who are part of Licensee's workforce that are third party contractors use the Products for Licensee's internal use purposes in accordance with the terms of Agreement.</p>

<p>2.1.3 Licensee shall not cause or permit the reverse engineering, disassembly or decompilation of the Products.</p>

<p>2.1.4 Adapt2 or its licensors shall retain all title, copyright, trade secrets, patents, trademarks and other proprietary rights in the Products and all modifications, enhancements, and other works derivative of the Products. Licensee does not acquire any rights, express or implied, in the Products, other than those specified in this Agreement.</p>

<p>2.1.5 Other Adapt2 Products and/or runtime versions of third party software, may be embedded in or delivered with the Adapt2 Products licensed under this Agreement ("Ancillary Products"). Licensee shall have limited use of Ancillary Products licensed under this Agreement. Licensee's right to use any Ancillary Product shall be only as described in the Order Form, Subscription Agreement or Documentation and limited to the use necessary to implement the Adapt2 Product licensed, as designated on the Order or Subscription Agreement Form. Licensee shall have no right to use such Ancillary Products other than as necessary for the ordinary use of the Adapt2 Product licensed, and Licensee grants Adapt2 and Adapt2's licensors the right to protect their interests under this Agreement and agrees that and such licensors are benefited by the provisions of this Agreement.</p>

<p>2.1.6 Adapt2 may supply Licensee with Limited Production Products that include new features or new processes. These Limited Production Products are not covered by warranties or Customer Support unless specified in writing by Adapt2.</p>

<h4>2.2 Subscription Services</h4>

<p>2.2.1 Adapt2 grants to Licensee the non-exclusive use of the Subscription Services that Licensee obtains under the Agreement, as follows:</p>

<p>(a) To use the Subscription Services solely for Licensee's own internal operations, and not in competition with Adapt2, consistent with applicable licensed use limitations as set forth in fully executed and delivered Order Forms and Subscription Agreement;</p>

<p>(b) To use the Documentation provided with the Subscription Services in support of Licensee's authorized use of the Subscription Services; and</p>

<p>(c) To comply with the Special Terms and Conditions in any Order Form or and Subscription Agreement with respect to any third party licenses used by Adapt2.</p>

<p>2.2.2 Licensee shall not copy or use the Subscription Services (including the Documentation) except as otherwise specified in the Agreement or on an Order Form or and Subscription Agreement. Licensee shall ensure that Designated Users who are part of Licensee's workforce that are third party contractors use the Subscription Services for Licensee's internal use purposes in accordance with the terms of Agreement.</p>

<p>2.2.3 Licensee shall not cause or permit the reverse engineering, disassembly or decompilation of any part of the Subscription Services.</p>

<p>2.2.4 Adapt2 or its licensors shall retain all title, copyright, trade secrets, patents, trademarks and other proprietary rights in the Subscription Services and all modifications, enhancements, and other works derivative of the Subscription Services. Licensee does not acquire any rights, express or implied, in the Subscription Services, other than those specified in this Agreement.</p>

<p>2.2.5 Other Adapt2 Products and/or runtime versions of third party software, may be embedded in or delivered with the Subscription Services provided under this Agreement ("Ancillary Products"). Licensee shall have limited use of Ancillary Products only as embedded within and part of the Subscription Services. Licensee's right to use any Ancillary Product shall be only as described in the Order Form, Subscription Agreement or Documentation and limited to the use necessary to use the Subscription Services , as designated on the Order or Subscription Agreement Form. Licensee shall have no right to use such Ancillary Products other than as necessary for the ordinary use of the Subscription Services, and Licensee grants Adapt2 and Adapt2's licensors the right to protect their interests under this Agreement and agrees that and such licensors are benefited by the provisions of this Agreement.</p>

<h4>2.3 Transfer And Assignment</h4>

<p>Licensee</p>'s rights under the Agreement are not transferable. Change of control of ultimate beneficial ownership of Licensee is a transfer prohibited by this Agreement. Licensee may not assign this Agreement to a third party, i.e., legal entity, separate from Licensee, in whole or in part, without Adapt2's prior written consent, which may be given or withheld at Adapt2's sole and absolute discretion and any assignment without such consent shall be void. Any work required of Adapt2 to effect such assignment will be billed on a time and materials basis at Adapt2's then current rates.

<h4>2.4 Verification</h4>

<p>On</p> Adapt2's written request, not more frequently than annually, Licensee shall furnish Adapt2 with a signed certification verifying that the Products and/or Subscription Services are being used pursuant to the terms of this Agreement and applicable Order Forms or Subscription Agreement. Adapt2 may audit Licensee's use of the Products and Subscription Services.

<h3>Article 3 – Professional Services</h3>

<h4>3.1 Customer Support Services</h4>

<p>3.1.1 Adapt2 shall provide Customer Support Services ordered by Licensee subject to Adapt2's Customer Support fees stated in the applicable Order Form or, if not so stated, as in effect on the date that Customer Support is ordered or renewed. Licensee may obtain Customer Support Services for preproduction releases of Products and Limited Production Products on a time and materials basis.</p>

<p>3.1.2 As long as Licensee subscribes and pays for Customer Support in an Order Form, Adapt2 shall:</p>

<p>(a) Supply corrections for problems that Adapt2 diagnoses as defects in the currently supported version of the Product and provide Licensee with any problem solutions relating to the Product as such solutions become known to Adapt2.</p>

<p>(b) Provide Licensee with updates, including changes to the Product, databases, or technical specifications as may be required or that result from the usual Product maintenance process, which Adapt2 elects to incorporate and make a part of Product and does not separately price or market (an "Update)"). Adapt2 shall provide Licensee with sixty (60) days' notice of such Update, with an explanation of the changes incorporated into the Update. In the event Licensee is unwilling to agree to the proposed Update, Licensee may terminate this Agreement for the Products and Services by providing 30 days' notice of cancellation to Adapt2 subject to the terms of Paragraph 4.4.</p>

<p>(c) Provide appropriate Documentation for the use of the Product.</p>

<p>(d) Provide remote, Customer Support Services from 8:00 AM to 5:00 PM, Central Time, Monday through Friday, exclusive of Adapt2's business holidays.</p>

<p>(e) Provide on-site Customer Support Services, if requested and at mutually agreed times, at Adapt2's then standard rates, plus reimbursement for all out-of-pocket expenses incurred by Adapt2 in connection with this support.</p>

<p>3.1.3 If agreed upon by Licensee in advance, Licensee shall reimburse Adapt2 for reasonable and necessary time and expenses incurred by Adapt2 in connection with the support provided which is not necessitated by defects or non-conformities in the Product. Adapt2 assumes no responsibility to support Licensee's operating system or hardware, and Adapt2 shall not be obligated to respond to particular requests or complaints by Licensee, except as otherwise specifically contained herein.</p>

<p>3.1.4 Licensee understands that the Products are cloud-based and any regulatory requirements that cannot be satisfied by Adapt2's cloud service provider are stipulated to be technically not feasible.</p>

<p>3.1.5 Nothing in this section shall obligate Adapt2 to customize the Product for Licensee, develop new features or modify Licensee's Product other than as requested by Licensee and agreed to by Adapt2 or as required by Adapt2. Revisions to the Product shall be requested by Licensee in writing and accepted by Adapt2 as evidenced by a Software Change Request that is attached to the applicable Order Form as an amendment.</p>

<p>3.1.6 At its sole discretion, Adapt2 may reinstate Customer Support Services for Licensee after cancellation by either a newly executed Licensee or payment of any past due amounts are due Adapt2 plus payment by Licensee of any outstanding invoices in effect on the date Customer Support is re-ordered and by Licensee installing or agreeing to install all Updates not yet installed and installing the Product on the Designated System that meets Adapt2's system configurations requirements in effect at the time of reinstatement.</p>

<h4>3.2 Consulting Services</h4>

<p>Services</p> are described in and shall be performed in accordance with an Order Form executed by both Parties.

<p>(</p>a) Adapt2 may provide training services agreed to by the Parties under the terms of this Agreement. All training services shall be billed on a time and materials basis unless the Parties expressly agree otherwise in writing. If applicable, an Order Form or Software Change Request shall describe the special terms and conditions associated with these Services.

<p>(</p>b) If Adapt2 provides Consulting Services under this Agreement, the Services shall be billed on a time and materials basis unless the Parties expressly agree otherwise in writing. If applicable, an Order Form or Software Change Request shall describe the special terms and conditions associated with these Services.

<p>(</p>c) For any on-site Services requested by Licensee, Licensee shall reimburse Adapt2 for actual, reasonable travel and out-of-pocket expenses incurred, which are approved by Licensee in advance in writing.

<p>(</p>d) Adapt2 representatives performing the services for Licensee under this Agreement may perform similar services for other customers. This Agreement shall not prevent Adapt2 from performing such similar services for other customers or restrict Adapt2 from using the representative to perform services for other customers.

<p>(</p>e) All Licensee supplied source materials, including data, programs, and supplies, must necessarily be machine processable and compatible with standard industry techniques. The Parties agree to work cooperatively to ensure this compatibility.

<p>(</p>f) Unless otherwise specified in an Order Form, the total service fees set forth on the Order Form are estimates and are not guaranteed by Adapt2.

<h4>3.3 Employment Provisions</h4>

<p>Without</p> the prior written consent of the other, neither Party shall solicit for employment or employ, directly or indirectly, whether as employee or independent contractor, any person who is or has been employed by the other until 12 months have elapsed following termination of this Agreement or until 12 months have elapsed following termination of the employment of the employee, whichever occurs first. Notwithstanding the foregoing, either Party may make general solicitations to the public and hire or contract with any such person that responds to a general solicitation.

<h4>3.4 Hosting Services</h4>

<p>Adapt2</p> will provide Customer with the hosting services described on the Order Form (the "Hosting Services"). Customer will cooperate with Adapt2 and will support and participate in Adapt2's efforts to provide the Hosting Services under the Agreement.

<h4>3.5 Hosting Fees</h4>

<p>Customer</p> will pay Adapt2 the fees specified in the Order Form, as adjusted from time to time, and the other fees and expenses provided in the Agreement. Except for any taxes collected by Adapt2 as shown in the Order Form, the fees due to Adapt2 as set forth in the Order Form are net amounts to be received by Adapt2, exclusive of all sales, use, withholding, excise, value added, and other taxes (other than taxes based on Adapt2's net income) incurred by Customer or imposed on Adapt2 in providing the Hosting Services or otherwise due as a result of providing the Hosting Services. Customer will be responsible for and will pay any and all such taxes and charges.

<h4>3.6 Hosting Term And Termination</h4>

<p>3</p>.6.1 The initial term for Hosting Services will begin as provided in the Order Form and will continue for the Initial Term. Following the Initial Term, Hosting Services will automatically renew on a month-to-month basis (each, a "Renewal Term", and together with the Initial Term, the "Term"). Either party may terminate Hosting Services at the end of the Initial Term or a Renewal Term by providing the other Party with at least sixty (60) days written notice prior to the date of termination.

<p>3</p>.6.2 In the event that a Party materially defaults in the performance of any of its obligations under the Agreement the non-defaulting Party may terminate the Agreement on thirty (30) days prior written notice specifying the default; provided that the defaulting Party has not cured such default by the end of such period.

<h4>3.7 Hosting Warranty</h4>

<p>Adapt2</p> warrants that the Hosting Services will be performed in a good and workmanlike manner. Adapt2 makes no warranty concerning Licensee's system or Licensee's connectivity. Diagnosis and assistance with Licensee's system and/or connectivity will be billed to Licensee by Adapt2 at Adapt2's time and material rates and terms. Adapt2 may from time to time schedule downtime ("Scheduled Downtime") for system maintenance and software modifications. Adapt2 will attempt to give Customer at least twenty-four (24) hours notification of Scheduled Downtime and its expected duration.

<h4>3.8 Hosting Capacity</h4>

<p>If</p> Customer's requirements for, and use of, Hosting Services increases, Adapt2 reserves in Adapt2's sole discretion, the right to increase the fees for the Hosting Services.

<h3>Article 4 – License Term And Termination</h3>

<h3>4.1 Term And Renewal</h3>

<p>Each</p> Product License granted under the Agreement shall remain in effect from the Production Date for the length of the Term of License specified on the Order Form, unless terminated as provided in Sections 4.2 or 4.3 below or otherwise as provided herein. After expiration of the initial term, the Product License shall be automatically renewed for successive additional one-year terms unless either Party gives to the other written notice of intent to cancel at least ninety (90) days prior to the expiration of the then current term. The renewal will be under the same terms and conditions stated in the Agreement and Order Form except that, fees due to Adapt2 may be adjusted at the discretion of Adapt2 prior to each annual renewal date. Except for CPI adjustments, Adapt2 shall provide notice of any Product License fee changes to Licensee at least one hundred twenty days (120) days prior to the annual renewal date.

<h4>4.2 Termination By Licensee</h4>

<p>Licensee</p> may terminate the Agreement or any Product License upon written notice if Adapt2 breaches the Agreement and fails to correct the breach within 60 days following written notice specifying the breach.

<h4>4.3 Termination By Adapt2</h4>

<p>Adapt2</p> may terminate the Agreement or any Product License upon written notice if Licensee breaches the Agreement and fails to correct the breach within 60 days following written notice specifying the breach. If Licensee breaches the Agreement by not paying amounts due Adapt2 and Adapt2 terminates the Agreement for non-payment, Licensee shall pay to Adapt2, in addition to amounts due prior to termination, the prorated value of the Agreement from the date of termination due to the breach to the expiration date of the current term of the Agreement.

<h4>4.4 Effect Of Termination</h4>

<p>Termination</p> of the Agreement or any Product License shall not limit either Party from pursuing any other remedies available to it, including injunctive relief, nor shall such termination relieve Licensee's obligation to pay all fees that have accrued or are otherwise owed by Licensee under any Order Form or other similar ordering document under this Agreement. The Parties' rights and obligations under Articles 2, 4, 5, 6, 7, and 8 shall survive termination of this Agreement. Within ten (10) business days of agreement upon a format for return, following any termination or expiration of this Agreement or of any request from Licensee, Adapt2 shall return to Licensee, any and all Licensee Confidential Information and Licensee data residing on the Products or otherwise in Adapt2's possession.

<h4>4.5 Handling Of Products Upon Termination</h4>

<p>If</p> a Product License expires or otherwise terminates, Licensee shall (a) cease using the applicable Products, and (b) certify to Adapt2 within one month after expiration or termination that Licensee is not using and will not use the Products in the future. This requirement applies to copies of Software and Documentation in all forms, partial and complete, in all types of media and computer memory, and whether or not modified or merged into other materials. 

<h3>Article 5 – Indemnity, Warranties, Remedies</h3>

<h4>5.1 Infringement Indemnity</h4>

<p>5</p>.1.1 Adapt2 will defend and indemnify Licensee, its officers, directors, employees, agents, successors and assigns against any claim that the Products or Services furnished and used within the scope of the Agreement infringe or misappropriate a copyright, patent, trademark, trade secret, or other proprietary right provided that: (a) Licensee notifies Adapt2 in writing within 30 days of the claim; (b) Adapt2 has sole control of the defense and all related settlement negotiations, provided, that any settlement involving any remedy other than the payment of money or which does not include a complete release of the indemnified Parties must be approved by the indemnified Party in advance in writing; and (c) Licensee provides Adapt2 with the assistance, information and authority necessary to perform Adapt2's obligations under this section. Reasonable out-of-pocket expenses actually incurred by Licensee in providing such assistance will be reimbursed by Adapt2.

<p>5.1.2 Adapt2 shall have no liability for any claim of infringement based on (a) use of a superseded or altered release of Products if the infringement would have been avoided by the use of a current unaltered release of the Products that Adapt2 provides to Licensee; or (b) the combination, operation or use of any Products furnished under this Agreement with software, hardware or other materials not furnished by Adapt2 if such infringement would have been avoided by the use of the Products without such software, hardware or other materials.</p>

<p>5.1.3 In the event the Products are legally held, or are believed by Adapt2, to infringe, Adapt2 shall have the option, at its expense, to (a) modify the Products to be noninfringing with no loss of functionality, (b) obtain for Licensee a license to continue using the Products, or (c) terminate the license for the infringing Products and refund the License Fees paid for those Products and Customer Support Fees, prorated over the length of the Agreement from the Production Date to the end of the Initial term of this Agreement if this Agreement is in its initial term. After the Initial term, if Adapt2 terminates the Agreement as specified in this Section 5.1.3, Licensee shall receive the prorated portion of any annual fees paid for Licensee Fees and Customer Support Services.</p>

<p>5.1.4 THIS SECTION 5.1 STATES Adapt2'S OR Adapt2'S LICENSOR'S ENTIRE LIABILITY AND LICENSEE'S EXCLUSIVE REMEDY FOR INFRINGEMENT OF ANY INTELLECTUAL PROPERTY WARRANTY.</p>

<h4>5.2 Warranties And Disclaimers</h4>

<p>5.2.1 Adapt2 warrants, for the sole benefit of Licensee, that the Products will operate in all material respects in accordance with its published Documentation. On receipt of notice from Licensee of a material defect ("Defect") with respect to the Products and/or the Software, Adapt2 shall exercise good faith, commercially reasonable efforts to implement appropriate Defect corrections to the Products and/or the Software at no additional cost to Licensee except as otherwise set forth herein. Adapt2 will use a leading, third party, cloud services with the Products. Adapt2 warrants that the Products and Services will be available in accordance to the availability warranties provided by the applicable third party cloud services provider, which Adapt2 shall provide to Licensee on request.</p>

<p>5.2.2 Adapt2 shall develop, maintain and implement a comprehensive written information security program that complies with applicable law.</p>

<p>5.2.3 Adapt2's sole and exclusive obligation under the warranties in Section 5.2.1 and 5.2.2 shall be to exercise commercially reasonable, good faith efforts to implement appropriate security, and Defect corrections in response to Licensee's notification of Defects. Adapt2 may terminate its corrective efforts under this Section at any time if, in Adapt2's reasonable business and good faith judgment, further corrective efforts are not feasible. If Adapt2 does not correct a Defect within thirty (30) days of notice of the Defect, Licensee may terminate the Agreement or applicable Order Form, and Adapt2 shall refund to Licensee all pre-paid fees for the terminated Products and Services. For the purposes of this warranty, a "Defect" is an error in the functioning of the Products and/or Software with respect to the documented functions for which the Products and/or Software was designed.</p>

<p>5.2.4 Subject to the express representations, warranties and covenants included in this Agreement and each applicable Order Form, all Products provided by the Production Date are provided "AS IS" and "AS AVAILABLE" and LICENSEE ASSUMES ALL RISK AND ALL COSTS OF USE, INCLUDING WITHOUT LIMITATION DAMAGE TO EQUIPMENT, SOFTWARE, INFORMATION OR DATA.</p>

<p>5.2.5 LICENSEE ACKNOWLEDGES AND AGREES THAT Adapt2'S SOLE AND EXCLUSIVE OBLIGATION, AND LICENSEE'S SOLE AND EXCLUSIVE REMEDY, IN THE EVENT OF ANY BREACH OF THE WARRANTIES SET FORTH IN SECTION 5.2 IS AS SET FORTH IN PARAGRAPH 5.2.3. Adapt2 DOES NOT WARRANT THE SERVICES TO BE UNINTERRUPTED OR ERROR-FREE OR THAT THE SERVICES WILL MEET LICENSEE'S REQUIREMENTS. THE WARRANTIES SET FORTH IN THIS AGREEMENT AND EACH ORDER FROM ARE IN LIEU OF ALL OTHER WARRANTIES, WHETHER STATUTORY, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES THAT MIGHT BE IMPLIED FROM A COURSE OF PERFORMANCE OR DEALING OR TRADE USAGE OR WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>

<h3>Article 6 – Payment And Price Provisions</h3>

<h4>6.1 Invoicing And Payment</h4>

<p>Fees listed on the Order Form shall be payable as specified on the Order Form. All fees shall be deemed overdue if they remain unpaid sixteen days after they become payable. Any amounts payable which remain unpaid 31 days after the due date shall be subject to late penalty fees equal to 1.5% per month from the due date until such amount is paid. If Licensee uses the Products or Services in excess of the user limitations provided for in any Order Form, such use shall not be considered a breach of this Agreement, provided that Licensee pays Adapt2 for such use at rates, pro rata, no higher than the lesser of the rates specified in the applicable Order Form or any more recent applicable Order form for such Products or Services.</p>

<h4>6.2 Price Changes</h4>

<p>6.2.1 Upon notice to Licensee, Adapt2 may increase fees for Customer Support Services, if separately listed per Order Form, on an annual basis in an amount no more than the percentage increase of the published US Department of Labor, Bureau of Labor Statistics, US City Average consumer price index (CPI) +5%.</p>

<p>6.2.2 Adapt2 may adjust fees on the Agreement renewal date subject to notice required in Section 4.1.</p>

<p>6.2.3 Upon reasonable notice to Licensee, Adapt2 may pass through any increases in communication tariffs related to Adapt2 services or any fees charged for access to data including, without limitation, government imposed access fees, fees resulting from changes in regulation or statute, or other similar fees assessed against Adapt2 and outside of Adapt2's control. In the event Licensee is unwilling to agree to the proposed fee increase, Licensee may terminate this Agreement for the Product by providing thirty (30) days' notice of cancellation subject to the term of Paragraph 4.4.</p>

<h4>6.3 Licensee Provides Purchase Order</h4>

<p>If Licensee's procedures require that Adapt2 include a Purchase Order number on invoices before payment can be made, Licensee is responsible for providing a Purchase Order at the time of contract execution and providing any updated Purchase Orders during the life of this Agreement, if required.</p>

<h4>6.4 Taxes</h4>

<p>The fees listed on the Order Form do not include taxes. If Adapt2 is required to collect or pay sales, use, property, value-added or other taxes based on the licenses or services granted in this Agreement or on Licensee's use of Products or Services, then such taxes shall be billed to and paid by Licensee. This Section shall not apply to taxes based on Adapt2's income.</p>

<h4>6.5 Software Free From Virus</h4>

<p>Adapt2 shall take reasonable and prudent measures consistent with industry standards to assure that the software provided Licensee does not contain a virus and that Licensee does not receive from any Adapt2 data transmission via telecommunications or other medium any viruses that would erase data or programming or otherwise cause the software or the computer/network to become inoperable or incapable of being used in accordance with its documentation.</p>

<h4>6.6 Consents</h4>

<p>Licensee consents to Adapt2's collection, use, transmission, processing and maintenance of Licensee's use of Products, but excluding any Confidential Information or Licensee data or postings, for purposes of both providing the Product and technical, statistical or diagnostic information that Adapt2 may use to support, improve and enhance Products and future Products and services.</p>

<h3>Article 7 – General Terms</h3>

<h4>7.1 Nondisclosure</h4>

<p>7.1.1 By virtue of this Agreement, the Parties may have access to information that is confidential to the other Party ("Confidential Information"). Confidential Information includes the Products, the terms and pricing under this Agreement, information regarding either Party's financial, operations, strategic plans and marketing plans, Licensee's data and postings, and all other information provided by Licensee to Adapt2.</p>

<p>7.1.2 A Party's Confidential Information shall not include information that: (a) is or becomes a part of the public domain through no act or omission of the other Party; (b) was in the other Party's lawful possession prior to the disclosure and had not been obtained by the other Party either directly or indirectly from the disclosing Party; (c) is lawfully disclosed to the other Party by a third party without restriction on disclosure; or (d) is independently developed by the other Party. Licensee shall not disclose the results of any benchmark tests of the Products to any third party without Adapt2's prior written approval.</p>

<p>7.1.3 The Parties shall hold each other's Confidential Information in confidence. The Parties agree, unless required by law, not to make each other's Confidential Information available in any form to any third party or to use each other's Confidential Information for any purpose other than the implementation of this Agreement. Each Party agrees to take all reasonable steps to ensure that Confidential Information is not disclosed or distributed by its employees or agents in violation of the terms of this Agreement.</p>

<p>7.1.4 The obligations of this Section 7.1 expressly exclude the acts or omissions of cloud service providers that are beyond the control of the Parties.</p>

<p>7.1.5. Any suggestions, proposed enhancements, recommendations or other feedback provided by the Licensee to Adapt2 (collectively "Feedback") are made at Licensee's discretion and Licensee grants to Adapt2 a worldwide, perpetual, irrevocable, royalty-free license to use any Feedback.</p>

<h4>7.2 Governing Law</h4>

<p>This Agreement and all matters arising out of or relating to this Agreement shall be governed by the laws of the State of Texas, both as to interpretation and enforcement, without regard to the conflicts of law principals of that State.</p>

<h4>7.3 Jurisdiction</h4>

<p>Any legal action or proceeding relating to this Agreement shall be instituted in any state or federal court in Harris County, Texas. Adapt2 and Licensee agree to submit to the jurisdiction of, and agree that venue is proper in, the aforesaid courts in any such legal action or proceeding.</p>

<h4>7.4 Notice</h4>

<p>All notices, including notices of address change, required to be sent hereunder shall be in writing and shall be deemed to have been given when mailed by first class mail or personal delivery (including overnight mail by private carrier) or received by e-mail to the address listed for Licensee at the end of this Agreement (if to Licensee) or to the following address (if to Adapt2):</p>

<p>
	Adapt2 Solutions<br>
	Attn: President<br>
	24 Greenway Plaza, Suite 725<br>
	Houston TX 77046<br>
	Phone: (713) 468-3001<br>
	Web Site: www.Adapt2solutions.com
</p>

<h4>7.5 Faxed Or E-mailed Documents Equal To Originals</h4>

<p>To expedite order processing, Licensee agrees that Adapt2 may treat documents faxed or scanned and e-mailed by Licensee to Adapt2 as original documents; nevertheless, either Party may require the other to exchange original signed documents.</p>

<h4>7.6 Severability</h4>

<p>In the event any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions of this Agreement will remain in full force.</p>

<h4>7.7 Waiver</h4>

<p>The waiver by either Party of any default or breach of this Agreement shall not constitute a waiver of any other or subsequent default or breach. Except for actions for nonpayment or breach of Adapt2's proprietary rights in the Products, no action, regardless of form, arising out of this Agreement may be brought by either Party more than one year after the cause of action has accrued.</p>

<h4>7.8 Laws</h4>

<p>Licensee agrees to comply fully with all laws, including, without limitation, all relevant export laws and regulations of the United States ("Export Laws") to assure that neither the Products nor any direct Product thereof are (1) exported, directly or indirectly, in violation of Export Laws; or (2) are intended to be used for any purposes prohibited by the Export Laws, including, without limitation, nuclear, chemical, or biological weapons proliferation.</p>

<h4>7.9 Relationship Between Parties</h4>

<p>Adapt2 is an independent contractor, and nothing in this Agreement shall be construed to create a partnership, joint venture or agency relationship between the Parties.</p>

<h4>7.10 Entire Agreement</h4>

<p>7.10.1 These Terms and Conditions with associated Addendums, Order Forms, and Exhibits constitutes the complete agreement between the Parties and supersedes all prior or contemporaneous agreements or representations or warranties, written or oral, concerning the subject matter of this Agreement. The Agreement may not be modified or amended except in writing signed by a duly authorized representative of each Party; no other act, document, usage or custom shall be deemed to amend or modify this Agreement.</p>

<p>7.10.2 It is expressly agreed that the terms of the Agreement and any Order Form shall supersede and nullify any conflicting provision in any Licensee issued Purchase Order or other ordering document issued by Licensee. The Agreement shall also supersede the terms of any Adapt2 click license included in any Adapt2 software, provided the use limitations contained in such license agreement shall be effective for the specified license.</p>

<h3>Article 8 – Liability</h3>

<h4>8.1 Limitation Of Liability</h4>

<p>THE PARTIES AGREE THAT THE PROVISIONS OF THIS AGREEMENT ALLOCATE THE RISKS BETWEEN Adapt2 AND LICENSEE. THE PARTIES ALSO AGREE THAT NEGOTIATIONS AND PRICING OF THIS AGREEMENT REFLECT THIS ALLOCATION OF RISK AND LIMITATION OF LIABILITY.</p>

<p>8.1.1 EXCEPT AS PROVIDED IN SECTION 8.2 BELOW, IN NO EVENT SHALL EITHER PARTY BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR DAMAGES FOR LOSS OF PROFITS, REVENUE, DATA OR USE INCURRED BY EITHER PARTY OR ANY THIRD PARTY, WHETHER IN AN ACTION IN CONTRACT OR TORT, EVEN IF THE OTHER PARTY OR ANY OTHER PERSON HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<p>8.1.2 THE LIMITATIONS SET FORTH IN THIS SECTION 8.1 DO NOT RESTRICT Adapt2'S OBLIGATION TO INDEMNIFY PURSUANT TO SECTION 5.1 OR APPLY TO EITHER PARTY'S BREACH OF SECTION 7.1 ABOVE.</p>

<p>8.1.3 IN NO EVENT SHALL DAMAGES FOR ANY BREACH BY Adapt2 OF THIS AGREEMENT EXCEED, IN THE CASE OF A LICENSE, THE TOTAL FEES PAID OR PAYABLE BY LICENSEE FOR THE Adapt2 PRODUCT OR SERVICE DURING THE ONE YEAR PERIOD IMMEDIATELY PRECEDING THE BREACH, AND IN THE CASE OF A SUBSCRIPTION AGREEMENT, THE FEES PAID FOR THE SUBSCRIPTION SERVICES DURING THE ONE MONTH PERIOD IMMEDIATELY PRECEDING THE BREACH.</p>

<p>8.1.4 LICENSEE'S LIABILITY FOR BREACH OF ITS PAYMENT OBLIGATIONS OR FOR BREACH OF THE SCOPE OF ITS LICENSE RIGHTS UNDER SECTIONS 2.1.3, 2.1.4, 2.1.5, 2.1.6, 5.1 AND 5.2 SHALL NOT BE SUBJECT TO THE FOREGOING LIMITATION OF DAMAGES OR LIABILITY.</p>

<h4>8.2 Liability For Third Party Products</h4>

<p>Adapt2 hereby assigns, to the extent assignable, all third party manufacturers' warranties and indemnities with respect to third party hardware, Ancillary Products (software), services, or other third party deliverables. Except for the warranties described in Section 5.2.1, Licensee shall look solely to the original provider with respect to any performance claims regarding these licenses. Adapt2 is providing all such software, services and other third-party deliverables hereunder strictly under the following conditions:</p>

<p>8.2.1 Upon The Terms Of A Separate License And Support Agreement, If Provided; Or</p>

<p>8.2.2 WITH A THIRTY DAY MEDIA WARRANTY ONLY AND OTHERWISE "AS IS" WITHOUT WARRANTY, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE EXPRESS WARRANTIES IN THE ABOVE-REFERENCED AGREEMENT, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT THAT Adapt2 EXPRESSLY DISCLAIMS. FURTHER, Adapt2 MAKES NO EXPRESS WARRANTY, OR OTHERWISE, ON BEHALF OF ITS THIRD-PARTY LICENSORS.</p>
