---
---
<footer class="bg-orange-600" aria-labelledby="footer-heading">

  <h2 id="footer-heading" class="sr-only">Footer</h2>

<!-- Company -->

  <h3 class="text-base font-semibold leading-6 text-white uppercase">Adapt2 Solutions</h3>

  <address>

    <p>
      24 Greenway Plaza #725<br>
      Houston, Texas 77046
    </p>

    <p>
      <a href="tel:+17134683001">713-468-3001</a>
    </p>

    <p>
      <a href = "mailto: marketing@adapt2.com">marketing@adapt2.com</a>
    </p>

  </address>

<!-- Social -->

  <ul>
    <li><a href="https://www.youtube.com/channel/UCHhWthAPP3Yc54SmP4qRxyQ?view_as=subscriber">LinkedIn</a></li>
    <li><a href="https://twitter.com/adapt2solutions?lang=en">Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCHhWthAPP3Yc54SmP4qRxyQ?view_as=subscriber">YouTube</a></li>
  </ul>

<!-- Newsletter signup -->

  <h3>Sign Up For Our Newsletter</h3>

  <p>Stay up to date on industry news and Adapt2 highlights.</p>

  <label for="email-address" class="sr-only">Email address</label>

  <input id="email-address" name="email" type="email" autocomplete="email" required class="" placeholder="Enter your email">

  <button type="submit" class="">Subscribe</button>

<!-- Footer nav -->

  <nav>

    <h3>
      <a href="/solutions">Solutions</a>
    </h3>

    <ul>
      <li><a href="/solutions/adapt2-b2b">Adapt2 B2B</a></li>
      <li><a href="/solutions/adapt2-t2t">Adapt2 T2T</a></li>
      <li><a href="/solutions/adapt2-green">Adapt2 Green</a></li>
    </ul>

    <h3><a href="/whats-possible">What's Possible</a></h3>

    <ul>
      <li><a href="/whats-possible/for-front-office">For Front Office</a></li>
      <li><a href="/whats-possible/for-back-office">For Back Office</a></li>
      <li><a href="/whats-possible/for-plants-assets">For Plants/Assets</a></li>
      <li><a href="/whats-possible/for-technology">For Technology</a></li>
    </ul>

    <h3><a href="/customers">Customers</a></h3>

    <ul>
      <li><a href="/customers/renewable-energy">Renewable Energy</a></li>
      <li><a href="/customers/generators">Generators</a></li>
      <li><a href="/customers/traders">Traders</a></li>
      <li><a href="/customers/asset-managers">Asset Managers</a></li>
      <li><a href="/customers/utilities">Utilities</a></li>
      <li><a href="/customers/retailers">Retailers</a></li>
    </ul>

    <h3><a href="/about">About Us</a></h3>

    <ul>
      <li><a href="/about/leadership">Leadership Team</a></li>
      <li><a href="/about/careers">Careers</a></li>
      <li><a href="/about/events">Events</a></li>
    </ul>

  </nav>

<!-- Privacy, Policy -->

  <p>
    <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-and-conditions">Terms and Conditions</a>
  </p>

<!-- Copyright -->

  <p>Copyright &copy; {new Date().getFullYear()} Adapt2 Solutions. All rights reserved.</p>

</footer>
