---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Dispatch Blotter</h1>



<a href="/contacts">
	<button type="button">Schedule a Demo</button>
</a>



<p>Quickly enter verbal dispatch instructions with timestamps, dispatcher and dispatch reason. Generate reports on logged dispatches. Reason codes and dispatch flags are all user-configurable. When combined with ISO Back Office, users can import dispatch instructions into Adapt2’s Market vs Internal shadow settlement module to estimate lost opportunity cost, make-whole payments, and deviation penalties.</p>