---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>For Plants/Assets</h1>



<h2>Effective market participation involves coordination between all facets of the energy enterprise. </h2>

<p>Adapt2 enables two-way communication to all portfolio assets that empower the assets to participate and contribute to the overall success of our customers.</p>



<h3>Plant Portal</h3>

<p>Connect operators to schedulers with Adapt2’s Plant Portal. Adapt2’s Plant Portal synchronizes plant data to and from the trading desk.</p>



<h3>Dispatch Blotter</h3>

<p>Quickly enter verbal dispatch instructions with timestamps, dispatcher and dispatch reason. Generate reports on logged dispatches. Reason codes and dispatch flags are all user-configurable.</p>



<h3>Outage Management</h3>

<p>Adapt2 offers a comprehensive Outage Scheduling System that makes commercial decisions and communication between the commercial business and plant operators easier.</p>



<Parallax
	parallaxImage="/power-plant.jpeg"
	alt="Foo"
	blockquote="Having an easy to use, custom P&L saves at least 2 hours a day. It also ensures that an hourly P&L is generated for every day — maximizing opportunities for asset optimization."
	citation="Director of Asset Management"
>
