---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Outage Management</h1>



<a href="/contacts">
	<button type="button">Schedule a Demo</button>
</a>



<p>Submit and synchronize outage tickets with any outage management system (ISO or third-party) in one easy-to-use interface. Easily report on historical, current and future outages. Manage capacity (RA), Connect to Bid Accelerator, Unit Capability, and Empower Dashboard to ensure unit bids and schedules factor in all outages and derates.</p>

<ul>
	<a href="#scheduling"><li>Outage Scheduling</li></a>
	<a href="#workflow"><li>Outage Workflow</li></a>
	<a href="#planning"><li>Outage Planning</li></a>
</ul>



<h2 id="scheduling">Outage Scheduling</h2>

<p>APIs for the submission to and retrieval of ISO/RTO data with peak of outage information.</p>



<h2 id="workflow">Outage Workflow</h2>

<p>Provides functionality to log and manage workflows to evaluate, process and approve planned and forced outage request by outage coordinators, plant personnel and/or field personnel.</p>



<h2 id="planning">Outage Planning</h2>

<p>Functionality to support the identification of related outages and the creation of an outage calendar to support outage planning.</p>
