---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Plant Portal</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>Plants can input unit availability and outage data in real time while the commercial desk can deliver settlement quality profit and loss analysis directly to the operator. Put more eyes on operations by engaging the plant operators to own their profitability.</p>



<ul>
	<a href="#"><li>Empower Dashboard</li></a>
	<a href="#"><li>Unit Capability Portal</li></a>
	<a href="#"><li>Dispatch Blotter</li></a>
</ul>



<h2 id="">Empower Dashboard</h2>

<p>Adapt2’s latest web-based dashboard allows schedulers, dispatchers and operators to track asset performance in real-time. Analyze lost opportunity due to poor asset performance, outages and dispatch. Deliver immediate feedback to plant operators, providing insight into the incremental value of bringing equipment back to service on time.</p>



<h2 id="">Unit Capability Portal</h2>

<p>Automate Plant Operations calls with the Unit Capability dashboard. Plant Operators can upload unit limits and availability directly into Adapt2 then Asset Manager can automatically incorporate these attributes into their bidding strategies. Provide a reporting portal for your plants with all historical capabilities. Configure approvals by data set and unit to provide an intelligent asset model change management process.</p>



<h2 id="">Dispatch Blotter</h2>

<p>Quickly enter verbal dispatch instructions with timestamps, dispatcher and dispatch reason. Generate reports on logged dispatches. Reason codes and dispatch flags are all user-configurable. When combined with ISO Back Office, users can import dispatch instructions into Adapt2’s Market vs Internal shadow settlement module to estimate lost opportunity cost, make-whole payments, and deviation penalties.</p>
