---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Essential Front Office</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>The following features can be activated as needed to support Front Office strategies:</p>

<ul>
	<li><a href="#offercalc">Offer Calculator</a></li>
	<li><a href="#offerverify">Offer Verification</a></li>
	<li><a href="#virtual">Virtual Trader</a></li>
	<li><a href="#outage">Outage Scheduling</a></li>
	<li><a href="#accelerator">Accelerator</a></li>
	<li><a href="#profitandloss">Profit and Loss</a></li>
	<li><a href="#capabilities">Unit Capability</a></li>
	<li><a href="#commitment">Unit Commitment</a></li>
	<li><a href="#forecasting">Forecasting</a></li>
	<li><a href="#dispatch">Dispatch Optimization</a></li>
	<li><a href="#portal">C&amp;I Portal</a></li>
</ul>



<h2 id="offercalc">Offer Calculator</h2>

<p>Our latest offer formulation toolkit allows asset managers to create calculation strategies for Generation Bids and Offers. Offer Calculator utilizes Unit Capability to dynamically query an asset model every time a strategy is run. Strategies can be scheduled or executed by user for a single unit up to an entire fleet. Offer formulas are fully transparent, user-configured and can be assigned to units in a simple opt-in/out dashboard.</p>



<h2 id="offerverify">Offer Verification</h2>

<p>Adapt2’s Offer Verification engine assures your bids and offers have been submitted and match the ISO’s dataset by reading back all bids instantaneously upon submission. Offer Verification allows you to easily compare what was submitted to what is on the portal with intuitive color coding and summary reports delivered immediately after submission. Configure checkout reports for your schedulers and counterparties to automatically confirm your submissions match your objectives.</p>



<h2 id="virtual">Virtual Trader</h2>

<p>Manage virtual positions for multiple traders across all ISOs. Structure virtual bid and offer curves according to ISO rules. Automatically allocate virtual awards to traders even when the ISO publishes a single consolidated award volume by location and interval.</p>



<h2 id="outage">Outage Scheduling</h2>

<p>Submit and synchronize outage tickets with any outage management system (ISO or third-party) in one easy-to-use interface. Easily report on historical, current, and future outages. Manage capacity (RA). Connect to Bid Accelerator, Unit Capability, and Empower Dashboard to ensure unit bids and schedules factor in all outages and derates.</p>



<h2 id="accelerator">Accelerator</h2>

<p>Adapt2’s next-generation bid formulation toolkit allows users to create templates for all ISO transaction types including Generation, Demand, Virtual, and Bilaterals. Submit logic is connected directly to Accelerator Templates, eliminating the latency caused by legacy integration processes. Templates are fully auditable, including the ability to search history and recreate a bid strategy from the ground up. Formulas are fully transparent and user-defined.</p>



<h2 id="profitandloss">Profit and Lossprofitandloss</h2>

<p>Deliver valuable P&amp;L results to your business for all ISO transactions. Configure ad-hoc calculations in Adapt2’s P&amp;L pivot grid, or schedule calculations to occur as the data updates in real-time. Connect to SCADA and trading systems with Adapt2’s standard PL Data API. Create various types of P&amp;L reports, including intra-day, indicative, as-bid, as-burned, and settlement. When combined with Bid Accelerator, Unit Capability and Adapt2’s inbound SCADA API, P&amp;L can be fully automated and provide real-time feedback on the health of your operations.</p>



<h2 id="capabilities">Unit Capability</h2>

<p class="mb-2 text-gray-500 dark:text-gray-400">Connect asset operators and schedulers to automate the transfer of unit parameters such as heat rates, I/O coefficients, operating minimums, and operating maximums. Decrease copy/paste errors. Reduce the time spent scouring emails or making early morning phone calls. Unit Capability details are instantly available in Accelerator and Offer Calculator, allowing generation schedulers to formulate daily and hourly offers that factor in the latest operating constraints for a unit.</p>


<h2 id="commitment">Unit Commitment</h2>

<p>The Unit Commitment screen provides real-time graphical insight into the commitment instructions and unit status across the entire asset fleet. Users can view transition types, start status and all instructions acknowledged by the operator. Unit Commitment also displays the associated commitment history, binding constraint, and other configurable details associated with each instruction.</p>



<h2 id="forecasting">Forecasting</h2>

<p>Adapt2’s Forecasting engine provides a plug-and-play approach to developing extensive forecast models across commodities and datatypes. Utilize the latest machine learning algorithms to augment what you already own: your data. Add Adapt2’s Market Link engine to capture more than 1 million different ISO datasets. With Adapt2’s Forecasting engine, users can select as many datasets as desired to inform the AI/ML Forecasting model then deliver as much information as needed to make effective decisions.</p>



<h2 id="dispatch">Dispatch Optimization</h2>

<p>Adapt2 Green’s Dispatch Optimization module uses your historical data, weather information, and machine learning forecast models to predict the best schedule to generate or consume as well as charge or discharge batteries that are not on AGC. Dispatch Optimization provides decision support for load and peak shaving activities throughout the operating day.</p>



<h2 id="portal">C&amp;I Portal</h2>

<p>Provide a website for your Commercial & Industrial customers to import and manage their production forecasts. Review production schedules and load forecasts and then set tolerances to reduce risk. Easily enable straight-through submissions to the ISO for your advanced C & I customers or add steps to their workflow requiring approval and checkout.</p>
