---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Essential Front Office</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>The base functionality consists of the following core features:</p>

<ul>
  <li><a href="#bids">Bids</a></li>
  <li><a href="#offers">Offers</a></li>
  <li><a href="#auctions">Auctions</a></li>
  <li><a href="#contracts">Contracts</a></li>
  <li><a href="#schedules">Schedules</a></li>
  <li><a href="#transactions">Transactions</a></li>
  <li><a href="#awards">Awards</a></li>
</ul>



<h2 id="bids">Bids</h2>

<p>A consolidated view and submission module for energy bid types such as Demand, Virtual, and Point-to-Point across all power, imbalance and exchange markets and participants, with support for daily and multi-day submissions. Our modernized data lake enables one-click ability to submit for enhanced speed.</p>



<h2 id="offers">Offers</h2>

<p>A complete dashboard and submission module for all complex energy offer types such as Generation, Ancillary Service, Operating Parameters, and Demand Response. The module provides quick offer entry tools, including generate forms, copy forward, and copy/paste.</p>



<h2 id="auctions">Auctions</h2>

<p>A comprehensive submission module for auction-based nodal instruments such as ARR, FTR, TCC, TCR, and CRR, as well as capacity instruments, including ICAP, RPM, and FCM. Submit to auctions seamlessly in a single platform for all energy markets.</p>



<h2 id="contracts">Contracts</h2>

<p>A quick snapshot of all counterparty contracts across ISOs, energy exchanges and imbalance markets with configurable parameters to define the attributes of bilateral schedules. Adapt2 provides a single source of truth for power contracts. Coupled with Adapt2 Green for renewable energy assets. Our contract management module can align all energy contracts and trades in a consolidated solution.</p>



<h2 id="schedules">Schedules</h2>

<p>A consolidated view and submission module for simple schedule types such as Bilateral, Energy Trade, and A/S Obligation across all ISOs , energy exchanges, imbalance markets and participants, with support for daily and multi-day submissions. Backed by Adapt2's Tahoe Data Lake for one click energy schedule submission.</p>



<h2 id="transactions">Transactions</h2>

<p>A complete dashboard and submission module to manage complex schedule types, including Imports, Exports, and Ancillary Services.</p>



<h2 id="awards">Awards</h2>

<p>A complete view of all cleared positions with the ISOs, energy exchanges, and imbalance markets, as well as, counterparties that can be configured to multiple levels of hierarchy by date, location, product type, and more.</p>
