---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Front Office</h1>



<h2>Strategy Meets Speed</h2>

<p>Our Front Office solutions span all workflows that enable scheduling and submits into energy markets and supports performing energy trades with partners for efficient workflows that allow our customers to operate with strategy and automation. Our single platform functionality enables ease of use and requires only one install for all markets. Having a single platform enables our clients to have less overhead, more rapid submittals and increased cost savings.</p>



<h3>Essential Front Office</h3>

<p>For basic power market operations, Adapt2 covers all needed market connectivity and submission/retrieval functions on a single platform for all power markets and energy exchanges.  Adapt2's Front Office module is supported by advanced cloud-native technology including our Tahoe Data Lake which enhances speed of accessing data for energy operations.</p>



<h3>Advanced Front Office</h3>

<p>Advanced market participation is constantly evolving - we get it.  With Adapt2, we deliver an expansive list of features that can enhance your essential market operations capability. Advanced Front Office users are able to further their automation initiatives through our Bid Accelerator toolkit and provide more robust financial reports with Profit & Loss reporting.</p>



<h3>Trade Management </h3>

<p>Adapt2 Trade is a set of trade management modules in the Adapt2 Trade to Tag (T2T) platform. Its main components include Trade Capture, Confirmations, Exchange Integration and Trade-2-Tag scheduling. Adapt2's fully-accessible platform enables users to automate trades from generation assets and energy tags.</p>



<Parallax
	parallaxImage="/iStock-832105060.jpg"
	alt="Foo"
	blockquote="For day ahead operations, we use Adapt2’s Front and Back office including virtual trader, bid management, and unit capability… We absolutely love the product!"
	citation="Day Ahead Trader, Sempra Energy"
>
