---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Trade Management</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>Adapt2's trade management modules are within the Adapt2 T2T (trade-to-tag) platform. Its main components include Trade Capture, Confirmations, Exchange Integration and Trade-2-Tag scheduling.</p>

<ul>
  <li><a href="#capture">Trade Capture</a></li>
  <li><a href="#icetrades">ICE Trades</a></li>
  <li><a href="#options">Options and Swaps</a></li>
  <li><a href="#crossconfig">Cross-Commodity Configuration</a></li>
  <li><a href="#scheduling">Trade Scheduling</a></li>
  <li><a href="#bookout">Trade Bookout</a></li>
  <li><a href="#allocation">Trade Allocation</a></li>
  <li><a href="#tagging">Tagging</a></li>
</ul>



<h2 id="capture">Trade Capture</h2>

<p>Capture and manage physical and financial trades, as well as stacked-products for non-standard and exotic trades. Configurable workflows allow for self-managed and self-contained trade-data providers that interface with other components of the Adapt2 platform.</p>



<h2 id="icetrades">ICE Trades</h2>

<p>Out of the box passthrough system for capturing and managing ICE Trades. Readily available APIs and Tibco EMS interfaces allow for a seamless integration, allowing Adapt2 Trade to  quickly and seamlessly access Status and Valuation data directly from ICE. EConfirm-Integration for physical and financial trades and easy-to-configure trade-submit process to US and Canadian Trade Vaults.</p>



<h2 id="options">Options and Swaps</h2>

<p>Standard swaps, interest rate swaps, call &amp; put options, and futures contracts are supported within Adapt2. Spot and forward curves can be used for valuation over time and determine in or out of the money valuations for exercise periods.</p>



<h2 id="crossconfig">Cross-Commodity Configuration</h2>

<p>Supports multi-commodity configurations of heat rate for power and fuel settings as well as commodities that require mid-stream configurations with supporting storage and transportation deals.  Pipeline configuration includes settings for nomination submittal based on specific pipeline batch and cycle availability. Interfaces for nomination and schedule data are available to capture best-available volumetric data, fuel loss, imbalances and WACOG.</p>



<h2 id="scheduling">Trade Scheduling</h2>

<p>Trade Scheduling provides an extensive trade scheduler that matches trades to enable dynamic creation and submittal of schedules into the physical power markets and ISOs. Convert Trades to Tags and ISO Bilateral Transactions with a few simple clicks.</p>



<h2 id="bookout">Trade Bookout</h2>

<p>Allows traders and schedulers to automatically bookout trades based on predefined criteria for matching counterparty and market trade data. Physical schedules can be easily created for future submittal to the market or for immediate balancing of physical market portfolios.</p>



<h2 id="allocation">Trade Allocation</h2>

<p>Allows traders and schedulers to allocate transmission volumes against an energy schedule. Transmission allocation can be applied on a vertical or horizontal stack allowing the scheduler to cover an entire physical segment or leg on a tag corresponding to the movement of power between locations.</p>



<h2 id="tagging">Tagging</h2>

<p>Adapt2 Tagging can stand alone or use trades as the starting point to create e-tags. Profile changes flow back to trades as an actualization. Adapt2 Tagging supports all workflows needed to integrate NERC e-tags with Trade Scheduling and dynamically handles the cases where physical power should flow or book out.</p>
