---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Advanced Back Office</h1>



<a href="/contacts">
	<button type="button">Schedule a Demo</button>
</a>



<p>The following features can be activated as needed to support Back Office strategies:</p>

<ul>
	<a hreflang="#accounting"><li>Accounting Month</li></a>
	<a hreflang="#profit"><li>Profit and Loss</li></a>
	<a hreflang="#allocations"><li>Allocations</li></a>
	<a hreflang="#invoice"><li>Invoice CompassAdapt2 Green</li></a>
	<a hreflang="#shadow"><li>Shadow Settlements</li></a>
	<a hreflang="#ppa"><li>PPA/Contract SettlementsAdapt2 Green</li></a>
	<a hreflang="#renewable"><li>Renewable Energy CreditsAdapt2 Green</li></a>
</ul>



<h2 id="accounting">Accounting Month</h2>

<p>Adapt2’s Accounting Month module provides a snapshot of all settlement charge types and true-ups included in an approved invoice. This allows users to analyze sub-hourly and locational granularity that can be reconciled directly to an invoice. Accounting Month data can be integrated to many accounting systems to automate part of the month-end close process. Track settlement data quality across multiple levels, including Actualized, Settled and Estimated.</p>



<h2 id="profit">Profit and Loss</h2>

<p>Deliver valuable P&L results to your business for all ISO transactions. Configure ad-hoc calculations in Adapt2’s P&L pivot grid or schedule calculations to occur as the data updates in real-time. Connect to SCADA and trading systems with Adapt2’s standard PL Data API. Create various types of P&L reports, including intra-day, indicative, as-bid, as-burned, and settlement. When combined with Bid Accelerator, Unit Capability, and Adapt2’s inbound SCADA API, P&L can be fully automated and provide real-time feedback on the health of your operations.</p>



<h2 id="allocations">Allocations</h2>

<p>Confidently complete the last steps of settlement analysis with Adapt2’s Allocation engine. Convert ISO total uplift charges to a utility, asset, or portfolio level. Predict the impact of synergies by shadowing deviation penalties in the allocation process. Report total ISO cost and revenue divided across any allocation bucket. Easily aggregate allocation buckets up to general ledger codes or mappings to integrate fees with your trading system.</p>



<h2 id="invoice">Invoice Compass</h2>

<p>Our Invoice Compass provides functionality for users to create, format, calculate, verify and send counterparty invoices. With the ability to capture actual trade, volume and price data from multiple sources, users can streamline Power Purchase Agreement settlements and track exposure through preliminary settlement details. Through re-executing an invoice, an updated version will be created to capture adjustment details. Settlement and invoice details generated through Invoice Compass can be exported to accounting systems through Adapt2’s APIs and web services.</p>



<h2 id="shadow">Shadow Settlements</h2>

<p>With Adapt2’s premier Shadow Settlements module, perform shadow settlements and compare the results to the best-available settlement data in a simple Market vs Internal view. Use multiple sources of internal data to create a full shadow and combine with simple rolling averages to deliver month-end estimates. Settlement formulas are completely transparent to the user and support customization for source data and logic. Run shadow settlements ad-hoc or on a scheduled basis.</p>



<h2 id="ppa">PPA/Contract Settlements</h2>

<p>Use Adapt2’s Configurable Contract Settlement engine to import and manage Power Purchase Agreement settlements for counterparties. Build counterparty invoices using the results complete with snapshots, locking, and automatic invoice adjustments for prior periods.</p>



<h2 id="renewable">Renewable Energy Credits</h2>

<p>Adapt2’s Renewable Energy Credit module is part of the Adapt2 Green Offering, which includes an extensive REC management and support system that is effortlessly configurable for all REC and Emission registries. Traders can easily track and manage RECs and Emission Certificates based on registry, issue, vintage and source project.</p>
