---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Energy Accounting</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>Adapt2’s Energy Accounting specializes in volumetric based activity covering regulated and deregulated energy needs. With the ability to group, track, submit, integrate, allocate, settle and invoice based on multiple meter data sources, internal accounting operations will be more automated with increased data quality.  Adapt2 easily connect to trading and accounting systems to automate the flow of quantity and fee data to your systems of record.</p>

<ul>
	<a href="#data"><li>Meter Data Management</li></a>
	<a href="#calculations"><li>Meter Calculations</li></a>
	<a href="#groups"><li>Meter Groups</li></a>
</ul>


<h2 id="data">Meter Data Management</h2>

<p>Rapidly onboard new meters and sub-meters from different data sources. With the ability to create both ISO level Meter and Submeter inputs, new reporting needs and operation efficiency can be assessed early and often for seamless business processes.</p>



<h2 id="calculations">Meter Calculations</h2>

<p>Design meter calculations to aggregate sub-meters or configure tailored logic for best available meter when reporting, validating, and submitting. Use effective dated calculations to track changes in logic over time.</p>



<h2 id="groups">Meter Groups</h2>

<p>Create Meter Groups quickly and easily across multiple data and quality hierarchies. Connect Meter Calculation and Submit Dashboards to any Meter Group. Utilize Meter Groups to create simple rule waterfalls between multiple sources and qualities of a meter.</p>
