---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Essential Back Office</h1>



<a href="/contacts">
  <button type="button">Schedule a Demo</button>
</a>



<p>All of Adapt2 features for Back Office leverage the latest technologies for efficient workflows allowing our customers to operate with strategy and automation.</p>

<ul>
	<a href="#awards"><li>Awards</li></a>
	<a href="#productioin"><li>Production Month </li></a>
	<a href="#period"><li>Prior Period Adjustments</li></a>
	<a href="#settlement"><li>Settlement Statements</li></a>
	<a href="#invoice"><li>Invoice Review</li></a>
</ul>



<h2 id="awards">Awards</h2>

<p>A full position view of all cleared positions with the ISOs as well as counterparties that can be configured to multiple levels of hierarchy by date, location, product type and more.</p>



<h2 id="productioin">Production Month</h2>

<p>A complete best-available view of all settlement charge types across all participants. Roll up charge types to groups for a full month or drill down to individual sub-hourly intervals at a settlement location.</p>



<h2 id="period">Prior Period Adjustments</h2>

<p>A comparison of settlement versions across multiple billing periods that provides transparency into resettlement changes over time including settlement disputes and load metering true-up processes across the ISOs.</p>



<h2 id="settlement">Settlement Statements</h2>

<p>A consolidated view of ISO settlement summaries, including Day-Ahead and Real-Time.</p>



<h2 id="invoice">Invoice Review</h2>

<p>A complete dashboard for viewing and approving invoices across all ISOs, including monthly, weekly and daily invoices. This module also captures PDF versions of invoices for downstream processing and document control.</p>
