---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Back Office</h1>



<h2>Real-time feedback meets strategic analysis.</h2>

<p>Our Back Office solutions span all workflows that enable streamlined validation of market charges and intelligent determination of discrepancies.  All of Adapt2 features for Back Office leverage the latest technologies for efficient workflows allowing our customers to operate with strategy and automation.</p>



<h3>Essential Back Office</h3>

<p>For basic market operations, Adapt2 covers all needed market settlement  and retrieval functions on a single platform for all ISOs.</p>



<h3>Energy Accounting</h3>

<p>Adapt2’s Energy Accounting suite specializes in volumetric based activity covering regulated and deregulated energy needs.</p>



<h3>Advanced Back Office</h3>

<p>Advanced market participation is constantly evolving - we get it. With Adapt2, we deliver an expansive list of features that can enhance your essential market operations capability.</p>



<h3>Member Billing</h3>

<p>Adapt2’s Member Billing is a turnkey solution to manage charges related to energy, generation, and transmission demand.</p>



<Parallax
	parallaxImage="/iStock-950986656.jpg"
	alt="Foo"
	blockquote="Adapt2 ISO enabled quick and easy transparency to the most granular level of ISO settlements. This allows Just Energy to efficiently and effectively use this data to calibrate models and explain results of operations."
	citation="Director of Settlements and Mid-Office, Just Energy"
>
