---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 T2T Trade-to-Tag</h1>



<p>Adapt2 T2T Trade-to-Tag is the next-generation trade-to-tag power scheduling solution supporting risk management systems and straight through scheduling. The core components of Adapt2 T2T include Trade Capture, Tagging, and Power Scheduling. The T2T platform is built within the overall Adapt2 platform to take advantage of B2B connection and overall enabling technologies of Tahoe and AI or Tahoe and Atlas.</p>



<CTA />



<h2>Features</h2>

<ul>
	<li>Trade Capture</li>
	<li>Options & Swap</li>
	<li>Cross-Commodity Configuration</li>
	<li>Trade Scheduling</li>
	<li>Trade Bookout</li>
	<li>Trade Allocation</li>
	<li>Tagging</li>
	<li>ICE Trades</li>
</ul>



<h2>Benefits</h2>

<ul>
	<li>Connect ISO operations with bilateral trade activity</li>
	<li>Straight-through scheduling</li>
	<li>Valuation and MtM built-in</li>
	<li>Machine learning enabled</li>
	<li>Microsoft Excel built-in</li>
	<li>Complete front office workflows and automation</li>
	<li>Day ahead and real time trade support</li>
	<li>Artificial Intelligence enabled</li>
	<li>Complete process workflow automation</li>
	<li>Flexible and usable system architecture</li>
	<li>Big data lake supported</li>
</ul>
