---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 B2B Bid-to-Bill</h1>

<!-- Main content section. -->

<section>

	<p>Introducing one single platform for all ISO/RTOs for your Front Office and Back Office functions. Accelerating and streamlining enterprise power trading and power settlements, Adapt2 B2B is the premier energy market bid-to-bill platform enabled with AI and Big Data technologies. The core components of Adapt2 B2B include Market Link, Front Office, Back Office and Plant Portal with over 2,500 market participants currently harnessing the benefits of the powerful technology to bid-to-bill.</p>

	<img src="adapt2solutions_bid2bill.jpg">

	<buttom type="button">Schedule a Demo</buttom>

	<h2>Markets</h2>

	<ul>
		<li>CAISO</li>
		<li>CAISO EIM</li>
		<li>MISO</li>
		<li>NYISO</li>
		<li>Energie NB</li>
		<li>SPP</li>
		<li>SPP WEIS</li>
		<li>PJM</li>
		<li>AESO</li>
		<li>CENACE</li>
		<li>ERCOT</li>
		<li>ISONE</li>
		<li>IESO</li>
		<li>NATIONAL GRID</li>
	</ul>

</section>

<!-- Features section. -->

<section>

	<h2>Features</h2>
		
	<h3>Essential Front Office</h3>

	<ul>
		<li>Bids</li>
		<li>Offers</li>
		<li>Auctions</li>
		<li>Contracts</li>
		<li>Schedules</li>
		<li>Transactions</li>
		<li>Awards</li>
	</ul>

	<h3>Advanced Front Office</h3>

	<ul>
		<li>Offer Calculator</li>
		<li>Offer Verification</li>
		<li>Virtual Trader</li>
		<li>Outage Scheduling</li>
		<li>Accelerator</li>
		<li>Profit and Loss</li>
		<li>Unit Capabilities</li>
		<li>Unit Commitment</li>
		<li>Forecasting</li>
		<li>Dispatch Optimization</li>
		<li>C&I Portal</li>
	</ul>

	<h3>Essential Back Office</h3>

	<ul>
		<li>Awards</li>
		<li>Production Month</li>
		<li>Prior Period Adjustments</li>
		<li>Settlement Statements</li>
		<li>Invoice Review</li>
	</ul>

	<h3>Advanced Back Office</h3>

	<ul>
		<li>Accounting Month</li>
		<li>Profit and Loss</li>
		<li>Allocations</li>
		<li>Invoice Compass</li>
		<li>Shadow Settlements</li>
		<li>PPA/Contract Settlements</li>
		<li>Renewable Energy Credits</li>
	</ul>

	<h3>Energy Accounting</h3>

	<ul>
		<li>Meter Data Management</li>
		<li>Meter Calculations</li>
		<li>Meter Groups</li>
	</ul>

	<h3>Plant Portal</h3>

	<ul>
		<li>Empower Dashboard</li>
		<li>Unit Capability Dashboard</li>
		<li>Dispatch Blotter</li>
	</ul>

	<h3>Outage Management</h3>

	<ul>
		<li>Outage Scheduling</li>
		<li>Outage Workflow</li>
		<li>Outage Planning</li>
	</ul>

	<h3>Member Billing</h3>

	<ul>
		<li>Invoice Management</li>
		<li>Meter Setup/Management</li>
		<li>Rate Setup/Management</li>
		<li>Member Data Management</li>
	</ul>

</section>

<!-- Benefits section -->

<section>

	<h2>Benefits</h2>

	<ul>
		<li>Fast and responsive application performance</li>
		<li>Front to Back Office connection</li>
		<li>Profit and loss analytics native to solution</li>
		<li>Machine learning enabled</li>
		<li>Real-Time Sub Hourly Profit and Loss</li>
		<li>Built-in Spreadsheet Tools</li>
		<li>Plant to Front Office connection</li>
		<li>Real time performance updates and analytics</li>
		<li>Artificial Intelligence enabled</li>
		<li>Configurable Calculation Engines</li>
		<li>Deployment options</li>
		<li>Complete process workflow automation</li>
		<li>Complete process workflow automation</li>
		<li>Big data lake supported</li>
	</ul>

</section>

</main>
