---
import PageLayout from "@layouts/PageLayout.astro";
---
<h1>Adapt2 Green</h1>



<p>Going green has never been this easy.  Adapt2 Green extends the Adapt2 platform enabled by AI and Big Data to manage the complexities of contracting, operating, interfacing and settling  renewable generation and energy storage assets. The core components of Adapt2 Green include REC Management, Contract Management, Resource Allocation, PPA Settlement, and Dispatch Optimization. Adapt2 Green can be standalone or deployed with Adapt2 B2B and/or Adapt2 T2T to deliver full ISO market and trade connectivity.</p>



<CTA />



<h2>Features</h2>

<ul>
	<li>Renewable Energy Credit (REC) Management</li>
	<li>Renewable Energy Credit (REC) Interface</li>
	<li>Power Purchase Agreement (PPA) Management</li>
	<li>Manage all Sustainable Energy Data in a Single Solution</li>
	<li>Power Purchase Agreement (PPA) Settlement</li>
	<li>Forecasting</li>
	<li>Capacity and Contract Management</li>
	<li>Dispatch Optimization</li>
	<li>Hydrogen Modeling and Management</li>
	<li>Carbon Free Trade Management</li>
	<li>Solar/Battery Coordination</li>
	<li>Resource Allocation Analytics</li>
	<li>Carbon Free Trades</li>
	<li>Trade Capture</li>
	<li>Contract Settlement</li>
	<li>Greenhouse Gas (GHG) Analytics and Reporting</li>
	<li>Resource Adequacy Management</li>
</ul>



<h2>Benefits</h2>

<ul>
	<li>Seamless REC registry connect and management</li>
	<li>Optimized solar and battery optimization</li>
	<li>Complete system of Record for all Green Energy Data</li>
	<li>Management of all data in a single interface</li>
	<li>REC registry connectivity, that directly looks into WREGIS or other registries and pulls data into your system of truth for enhanced analytics</li>
	<li>One-click functionality for REC inventory management</li>
	<li>Microsoft Excel built-in</li>
	<li>Full contract management and settlement</li>
	<li>Ease of Use for Scalability</li>
	<li>AI-driven to help drive strategic decision making</li>
	<li>Complete trade to settlement workflow</li>
	<li>One-click functionality for REC inventory management</li>
	<li>A single system of truth for renewable energy data</li>
	<li>Ability to Integrate into multiple systems</li>
	<li>Supported by Adapt2’s Tahoe Data Lake to handle large volumes of data for speed of use</li>
	<li>Automatically generate RECs from generation data</li>
	<li>Automate trades coming from the registries with an ongoing data pull at real-time frequencies</li>
	<li>The ability to initiative the transfer and retirement of RECs with a single click and submit these actions to registries</li>
</ul>
